body {
    background-color: #000; /* 背景色を真っ黒に設定 */
    font-family: 'Roboto', sans-serif; /* フォントを指定 */
    /* 他のスタイルがあればここに追加 */
}

h1, h2, p, li, a {
    font-family: 'Orbitron', sans-serif; /* サイバーパンク風のフォント */
    color: #00ff00; /* ネオン風の緑色 */
    text-shadow: 0 0 5px hsl(120, 100%, 50%), 0 0 10px #00ff00, 0 0 5px #00ff00; /* ネオン効果のテキストシャドウ */
    font-size: 2em; /* 大きなフォントサイズ */
    letter-spacing: 2px; /* 文字間隔を調整 */
}

nav ul {
    list-style-type: none; /* リストのマーカーを削除 */
    padding: 0; /* パディングを削除 */
    display: flex; /* フレックスボックスで横並びに */
    justify-content: center; /* 中央揃え */
}

nav ul li {
    margin: 0 15px; /* リストアイテム間のスペース */
}

nav ul li a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #00ff00; /* リンクの色 */
    font-family: 'Orbitron', sans-serif; /* フォントをサイバーパンク風に */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* ネオン効果 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000; /* 背景色を黒に設定 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white; /* 文字色を白に設定してコントラストを確保 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #333; /* ホバー時の背景色を少し明るく */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}