body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* メインコンテンツ */
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

main h2 {
    font-size: 22px;
    margin-top: 30px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
